[user]
    name = d-salt
    email = d.salt.web+dev@gmail.com
[core]
    excludesfile = $HOME/.gitignore_global
    editor = emacs
    ignorecase = false          # distinct lower and capital on filename
    safecrlf = true             # do not convert crlf if various crlf exist
[color]
    ui = true
[pull]
    ff = only
[push]
    default = simple            # push if same branch exist on remote
[merge]
    ff = false
    tool = emerge
[grep]
    lineNumber = true
